.p5Canvas {
	margin: 0;
	padding: 0;
}

main {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	/* overflow-y: hidden; */
}

#content {
	height: 90vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.drawContentStyle {
	height: 60vh;
	display: flex;
	justify-content: space-around;
	align-items: start;
	width: 55vw;
	min-width: 350px;
	flex-wrap: wrap;
	background: 'white';
}

.cameraStyle {
	position: relative;
	height: 400px;
	width: 400px;
}

.imageStyle {
	height: 400px;
	width: 400px;
	opacity: 0.7;
}
.cameraStyle video {
	position: relative;
	background-color: black;
	height: 400px;
	width: 400px;

}

.canvasStyle {
	height: 400px;
}

.inputLabel {
	z-index: 1000;
}

.inputFile {
	display: none;
}

.uploadForm {
	position: absolute;
	padding: 5px;
	bottom: 0;
	right: 0;
}

.controlPanel {
	display: flex;
	justify-content: center;
}

.learnContentStyle {
	height: 60vh;
	display: flex;
	/* flex-direction: column; */
	justify-content: space-around;
	align-items: center;
	/* width: 55vw; */
	min-width: 350px;
	flex-wrap: wrap;
	background: 'white';
}

.descriptionStyle {
	margin: '20px';
	/* display: 'flex';
	justify-content: center;
	align-items: space-around; */
}

.dropdownStyle {
	margin: '20px'
}

.learnCameraStyle {
	position: relative;
	height: 400px;
	width: 400px;
}

.learnCameraStyle video {
	position: relative;
	background-color: black;
	height: 400px;
	width: 400px;
	margin-top: 20px;
}

.learnCanvasStyle {
	height: 400px;
	margin: 200px;
}