.p5Canvas {
	margin: 0;
	padding: 0;
}

main {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

#content {
	height: 90vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.drawContentStyle {
	height: 60vh;
	display: flex;
	justify-content: space-around;
	align-items: start;
	width: 55vw;
	min-width: 350px;
	flex-wrap: wrap;
}
.cameraStyle {
	
}
.cameraStyle{
		position: relative;
		height: 400px;
		width:  400px;
}

.imageStyle {
	height: 400px;
	width:  400px;
}
.cameraStyle video{
	position: relative;
	background-color: black;
	height: 400px;
	width:  400px;
}

.canvasStyle {
	height: 400px;
}

.inputLabel {
	z-index: 1000;
}

.inputFile {
	display: none;
}

.uploadForm {
	position: absolute;
	padding: 5px;
	bottom: 0;
	right: 0;
}

.controlPanel {
	display: flex;
	justify-content: center;
}